@media (max-width: 1400px) {
  .conteiner--2__block-top {
    flex-direction: column !important;
    align-items: center;
  }
  .conteiner__block-top {
    flex-direction: column !important;
    align-items: center;
  }
  .conteiner__block-top__right {
    width: 85% !important;
    margin: 0 auto !important;
    height: 40svh !important;
  }
  .PopupForm--block {
    flex-direction: column !important;
  }
  .PopupForm--block__left {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2%;
    height: 19%;
  }
  .talk__title {
    font-size: 5vw !important;
  }
  .talk__text {
    font-size: 3.95vw !important;
  }
  .container--6--form__input--box text {
    font-size: 3.95vw !important;
  }
  .container--6--form__input--box input {
    font-size: 3.95vw !important;
    width: 100% !important;
    height: 6vh !important;
  }
  .container--6--form {
    width: 90% !important;
  }
  .container--6--form__margin {
    width: 100% !important;
  }
  .popup--Video__close {
    right: 2% !important;
    top: 2% !important;
    width: 4% !important;
  }
  .footer--left__block {
    justify-content: space-between !important;
  }
  .footer--left__block {
    padding-top: 1% !important;
  }
  .search--menu__right {
    width: 300px !important;
    justify-content: flex-end !important;
  }
  .footer--img {
    display: none !important;
  }
  .search--menu__text {
    display: none !important;
  }
  .container--6--form__input--box {
    margin-left: 0 !important;
    width: 100% !important;
    font-size: 3.95vw !important;
  }
  .container--6--form__input--box .text {
    margin: 0 !important;
    font-size: 2rem !important;
  }
  .header--conteiner--title {
    background-image: url("../img/mobile_logo_svg.svg") !important;
    background-size: contain !important;
    height: 30% !important;
    background-position: center !important;
  }
  .search--menu__background {
    height: 100px !important;
  }
  .search--menu__button {
    width: 90% !important;
    height: 60px !important;
    font-size: 1.5rem !important;
  }
  .search--menu__burger {
    height: 30px !important;
  }
  .header--conteiner--title__under {
    font-size: clamp(4.5rem, 5.1rem + 2vw, 5.5rem) !important;
  }
  .header--conteiner__arrou__botom__svg {
    width: 25px !important;
  }
  .conteiner__block-top__main--text {
    font-size: 1.5rem !important;
    text-align: justify !important;
  }
  .blok2 {
    flex-direction: column !important;
  }
  .gen-text {
    text-align: start !important;
  }
  .swiper-slide img {
    width: 35vw;
    height: 50vh;
  }
}
@media (max-width: 1400px) and (min-width: 600px) {
  .swiper-slide img {
    width: 70vw !important;
    height: 40vh !important;
  }
}
@media (max-width: 1400px) {
  .button-download {
    width: 35vw !important;
    height: 50vh !important;
  }
}
@media (max-width: 1400px) and (min-width: 600px) {
  .button-download {
    width: 70vw !important;
    height: 40vh !important;
  }
}
@media (max-width: 1400px) {
  .button-download__svg {
    width: 40px !important;
    height: 40px !important;
  }
  .conteiner--3--list {
    flex-direction: column !important;
  }
  .conteiner--3__content--discript {
    height: 100% !important;
  }
  .img-slider {
    width: 39% !important;
    margin: 0 auto !important;
  }
  .wrapper {
    height: 100% !important;
  }
  .slider {
    height: 29.35vh !important;
  }
  .container--6--form__title {
    font-size: 2.8rem !important;
  }
  .container--6--form__under--title {
    font-size: 2.2rem !important;
  }
  .container--6--form__acept {
    font-size: 1.15rem !important;
  }
  .container--6--form__acept u {
    font-size: 1.15rem !important;
  }
  .footer--number--tel {
    font-size: 1.4rem !important;
  }
  .container--6--form__button {
    height: 50px !important;
    width: 40% !important;
    font-size: 3.5vw !important;
    margin: 0 auto !important;
  }
  .footer-lef {
    width: 30% !important;
  }
  .footer_number {
    display: none !important;
  }
  .footer--alpine__imenie {
    font-size: 1rem !important;
  }
  .textovii-text {
    font-size: 2rem !important;
  }
  .textovii-img {
    margin: 5vh !important;
  }
  .continer--3--button {
    flex-direction: column !important;
  }
  .continer--3--button .button_3 {
    border-radius: 30px 30px 0 0 !important;
    width: 100% !important;
  }
  .continer--3--button .button_4 {
    border-radius: 0 0 30px 30px !important;
    width: 100% !important;
  }
}
@media (max-width: 600px) {
  .text {
    height: 25vh !important;
  }
}

/*# sourceMappingURL=media-scss.css.map */
