* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Vesna, Unbounded, sans-serif;
  background-repeat: no-repeat;
}

@font-face {
  font-family: Vesna;
  src: url("../fonts/Vesna.ttf") format("truetype");
}
@font-face {
  font-family: Unbounded;
  src: url("../fonts/Unbounded.ttf") format("truetype");
}
.popup {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100dvh;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.32);
  backdrop-filter: blur(6px);
}
.popup .popup--Video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.popup .popup--Video__close {
  right: 1%;
  top: 1%;
  cursor: pointer;
  position: absolute;
}

.PopupForm {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100dvh;
  z-index: 9999;
  background-image: url("../img/pop-up-bacgr.svg");
  background-color: #082b18;
  backdrop-filter: blur(6px);
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
}
.PopupForm .PopupForm__back-ground {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.PopupForm .popup--Video__close {
  right: 1%;
  top: 1%;
  cursor: pointer;
  position: absolute;
}
.PopupForm .PopupForm--block {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.PopupForm .PopupForm--block__left {
  display: flex;
  flex-direction: column;
  background-color: rgba(37, 137, 83, 0.2);
  border-radius: 30px;
  padding: 1%;
  backdrop-filter: blur(5px);
}
.PopupForm .PopupForm--block__left .talk .talk__title {
  font-family: Unbounded;
  font-weight: 400;
  font-size: 1.8rem;
  color: #EBC781;
  text-transform: uppercase;
}
.PopupForm .PopupForm--block__left .talk .talk__text {
  font-family: Unbounded;
  font-weight: 200;
  font-size: 1rem;
  color: #EBC781;
  text-transform: math-auto;
}
.PopupForm .PopupForm--block__left .talk .footer--left__block {
  display: flex;
  flex-direction: row;
  padding-top: 20%;
}
.PopupForm .PopupForm--block__left .talk .footer--left__block .footer--img--block {
  display: flex;
  width: 15%;
  flex-direction: row;
  margin: 0 2% 0 2%;
  align-items: center;
  justify-content: space-between;
}
.PopupForm .PopupForm--block__left .talk .footer--left__block .footer--img--block .footer--img {
  width: 36px;
}
.PopupForm .PopupForm--block__left .talk .footer--number {
  background-color: #EBC781;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
}
.PopupForm .PopupForm--block__left .talk .footer--number .footer--number--tel {
  color: #082b18;
  font-size: 1rem;
  font-weight: 400;
  font-family: Unbounded;
}
.PopupForm .PopupForm--block__right {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  align-items: center;
  backdrop-filter: blur(5px);
}
.PopupForm .PopupForm--block__right .container--6--form {
  padding: 1%;
  color: #FFF4DE;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: auto auto;
  border-radius: 30px;
  background-color: rgba(37, 137, 83, 0.2);
}
.PopupForm .PopupForm--block__right .container--6--form .container--6--form__margin {
  margin: 0 auto;
  color: rgb(235, 199, 129);
  width: 40dvw;
}
.PopupForm .PopupForm--block__right .container--6--form__title {
  font-family: Unbounded;
  font-weight: 400;
  font-size: 1.8rem;
}
.PopupForm .PopupForm--block__right .container--6--form__under--title {
  font-family: Unbounded;
  font-weight: 200;
  font-size: 1.2rem;
}
.PopupForm .PopupForm--block__right .container--6--form__input--box {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.PopupForm .PopupForm--block__right .container--6--form__input--box .text {
  font-family: Unbounded;
  font-weight: 300;
  font-size: 1.2rem;
  padding: 1% 0 1% 0;
}
.PopupForm .PopupForm--block__right .container--6--form__input--box .input {
  font-family: Unbounded;
  font-weight: 200;
  font-size: 1rem;
  background-color: rgba(235, 199, 129, 0.2);
  border-radius: 30px;
  width: 90%;
  height: 70px;
  border: none;
  Outline: none;
  text-align: center;
  align-items: center;
}
.PopupForm .PopupForm--block__right .container--6--form__input--box .input:hover {
  background-color: rgb(255, 255, 255);
  border: none;
}
.PopupForm .PopupForm--block__right .container--6--form__input--box .comment {
  height: 20vh;
}
.PopupForm .PopupForm--block__right .container--6--form__button--block {
  margin: 2% 0 2% 0;
  display: flex;
  justify-content: flex-end;
}
.PopupForm .PopupForm--block__right .container--6--form__button {
  background-color: rgb(235, 199, 129);
  color: rgb(8, 43, 24);
  border-radius: 30px;
  border: none;
  font-family: Unbounded;
  font-weight: 300;
  height: 40px;
  width: 33%;
  font-size: 1.7rem;
  text-transform: capitalize;
}
.PopupForm .PopupForm--block__right .container--6--form__button:hover {
  background-color: rgb(8, 43, 24);
  color: rgb(235, 199, 129);
  transition: all 0.3s;
}
.PopupForm .PopupForm--block__right .container--6--form__acept {
  font-family: Unbounded;
  font-weight: 300;
  font-size: 0.6rem;
  color: rgb(235, 199, 129);
  margin-left: 2%;
}

/*# sourceMappingURL=popup-stule.css.map */
