/*
.search--menu{
  margin-top: 0.5%;
  border-radius: 40px;
  position: fixed;
  z-index: 9;
  top: 0;
  width: 100%;

  @media (max-width: 600px){
    .search--menu{
      display: none;
    }
  }

  .search--menu__background{
    padding: 1%;
    background-color: #0B512C80;
    margin: 0 auto;
    width: 95%;
    height: 70px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px)
  }
  .search--menu__text{
    font-family: Unbounded;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4rem;
    text-align: center;
    color: #FFF4DE;
    margin-left: 5%;
    text-transform: uppercase;
  }
  .search--menu__left{
    display: flex;
    flex-direction: row;
    margin-left: 1%;
  }
  .search--menu__right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
    .footer--img{
      width: 36px;
    }
  }
  .search--menu__button{
    display: flex;
    border-radius: 40px;
    background-color: rgba(8, 43, 24, 0.8);
    color: #FFF4DE;
    font-family: Unbounded;
    font-weight: 400;
    border: none;
    text-transform: uppercase;
    font-size: 1.025rem;
    width: 72%;
    height: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .search--menu__button:hover{
    color: rgba(8, 43, 24, 0.8);
    background-color: #FFF4DE;
    cursor: pointer;
  }
}
@media only screen and (max-width: 320px){
  .search--menu{
    display: none;
  }
}
*/
