* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Vesna, Unbounded, sans-serif;
}

@font-face {
  font-family: Vesna;
  src: url("../fonts/Vesna.ttf") format("truetype");
}
@font-face {
  font-family: Unbounded;
  src: url("../fonts/Unbounded.ttf") format("truetype");
}
.header--conteiner {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  display: flex;
  height: 100svh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}
.header--conteiner .header--conteiner--title {
  margin: 20vh;
}
.header--conteiner .header--conteiner--title__under {
  color: white;
  font-size: 2.8vw;
  height: 22vh;
}
.header--conteiner .header--conteiner__arrou__botom {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: #EBC881;
}
.header--conteiner .header--conteiner__arrou__botom__text {
  font-family: Unbounded;
  font-size: 1.8vh;
}

.main--blok {
  background-color: #082b18;
}
.main--blok .conteiner--1 {
  background-image: url(../img/fon-svg.svg);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main--blok .conteiner--1__back-blok {
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 95%;
  background-color: #FFF4DE;
  border-radius: 30px;
}
.main--blok .conteiner--1__back-blok__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2%;
  padding-top: 2%;
}
.main--blok .conteiner--1__back-blok__title {
  display: flex;
  flex-direction: row;
  color: #362709;
  align-items: center;
}
.main--blok .img--line {
  width: 20%;
  height: 20%;
  color: #362709;
  padding-right: 5%;
}
.main--blok .title {
  font-family: Unbounded;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 22.32px;
}
.main--blok .title__under {
  padding-top: 2%;
  padding-left: 5%;
  font-family: Unbounded;
  font-size: 2rem;
  font-weight: 300;
  color: #362709;
}
.main--blok .discriptio {
  font-family: Unbounded;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 30px;
  text-align: justify;
  color: #362709;
  padding-top: 2%;
  padding-left: 5%;
}
.main--blok .conteiner--1__back-blok__rithe {
  width: 100%;
  height: 100%;
  padding: 4%;
}
.main--blok .conteiner--2 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main--blok .conteiner--2__back-blok {
  background-image: url("../img/svg-fon-2block.png");
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 95%;
  background-color: #FFF4DE;
  border-radius: 30px;
}
.main--blok .conteiner--2__block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main--blok .conteiner--2__photo {
  border-radius: 30px;
  padding-right: 2%;
}
.main--blok .conteiner--2__QR {
  display: flex;
  flex-direction: column;
  border-color: #C6B59A;
  border: solid;
  border-radius: 30px;
  background-color: #FFF4DE;
  height: 85%;
  width: 70%;
  align-items: center;
  justify-content: center;
}
.main--blok .QR {
  margin: 1%;
  width: 90%;
}
.main--blok .conteiner--2__QR--text {
  font-family: Unbounded;
  text-align: center;
  font-size: 1.4rem;
  color: #362709;
  font-weight: 300;
}
.main--blok .block-or {
  display: flex;
  flex-direction: row;
}
.main--blok .block-or-line {
  color: #C6B59A;
  margin: 1%;
}
.main--blok .button_qr {
  background-color: #082B18;
  color: #FFF4DE;
  font-family: Unbounded;
  font-weight: 400;
  width: 42%;
  height: 5%;
  border-radius: 30px;
  border: none;
}
.main--blok .button_qr:hover {
  background-color: #FFF4DE;
  color: #082B18;
  transition: all 0.3s;
  border: none;
}
.main--blok .panoram360 {
  margin: 0 0 0 63%;
}
.main--blok .conteiner--3--title {
  display: flex;
  flex-direction: row;
  padding: 2% 0 0 2%;
  height: 3%;
  align-items: center;
}
.main--blok .conteiner--3-img--line {
  width: 5%;
  padding-right: 2%;
}
.main--blok .conteiner--3-img--title {
  font-family: Unbounded;
  color: #362709;
  font-weight: 300;
  text-align: center;
  font-size: 1.8rem;
}
.main--blok .conteiner--3--list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.main--blok .conteiner--3--list__item {
  display: flex;
  flex-direction: row;
}
.main--blok .conteiner--3--list__item__text {
  display: flex;
  flex-direction: column;
}
.main--blok .conteiner--3--list__img {
  width: 40px;
  padding: 0 2% 0 0;
}
.main--blok .conteiner--3--list__item__title {
  font-family: Unbounded;
  font-size: 1.5rem;
  color: #362709;
  font-weight: 400;
}
.main--blok .conteiner--3--list__item__defolt-text {
  font-family: Unbounded;
  font-weight: 300;
  color: #362709;
  font-size: 1.2rem;
}
.main--blok .conteiner--3__content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.main--blok .map {
  display: flex;
}
.main--blok .continer--3--button {
  display: flex;
  flex-direction: row;
  height: 5%;
  width: 50%;
  padding: 0.5% 0 0 0;
  margin: 0 auto;
}
.main--blok .button_3 {
  background-color: #395340;
  color: #FFF4DE;
  font-family: Unbounded;
  font-weight: 400;
  width: 50%;
  border-radius: 30px 0 0 30px;
  border: none;
}
.main--blok .button_3:hover {
  background-color: #FFF4DE;
  color: #395340;
  transition: all 0.3s;
  border: none;
}
.main--blok .button_4 {
  background-color: #395340;
  color: #FFF4DE;
  font-family: Unbounded;
  font-weight: 400;
  width: 50%;
  border-radius: 0 30px 30px 0;
  border: none;
}
.main--blok .button_4:hover {
  background-color: #FFF4DE;
  color: #395340;
  transition: all 0.3s;
  border: none;
}
.main--blok .block-3 {
  display: flex;
  flex-direction: column;
}
.main--blok .block-4 {
  background-image: url("../img/Fon-4.svg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background-size: cover;
}
.main--blok .block-4--img {
  height: 100px;
}
.main--blok .conteiner--4__slider {
  margin: 5%;
  height: 100%;
  background-color: #FFF4DE;
  border-radius: 30px;
  border: 4px solid #EDDDC1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.main--blok .conteiner--4__slider__text {
  padding: 1% 0 0 0;
  font-family: Unbounded;
  font-size: 1.6rem;
  font-weight: 300;
  color: #362709;
  text-align: center;
}
.main--blok .slider__img {
  width: 48%;
  height: 100%;
  border-radius: 30px;
  margin: 1%;
}
.main--blok .slider {
  border: 2px solid black;
  /* width: 100%; */
  max-width: 80%;
  /* height: 300px; */
  margin: 20px auto;
  overflow: hidden;
}
.main--blok .slider-line {
  width: 1024px !important;
  display: flex;
  background: orange;
  position: relative;
  left: 0;
  transition: all ease 1s;
  overflow: hidden !important;
}
.main--blok .conteiner--5 {
  background-image: url("../img/fon-blok5.png");
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main--blok .conteiner--5--text {
  font-family: Unbounded;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  color: #FFF4DE;
}
.main--blok .header--conteiner--title__under {
  color: white;
  font-size: 2.8vw;
  height: 22vh;
}

.footer {
  background-image: url("../img/footer-fon.svg");
  background-color: #082b18;
  height: 100vh;
  display: flex;
}
.footer .footer--form {
  color: #FFF4DE;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: auto auto;
  width: 30%;
  height: 70%;
  border-radius: 30px;
  background-color: rgba(37, 137, 83, 0.2);
}
.footer .footer--form .footer--form__margin {
  margin: 0 auto;
  color: rgb(235, 199, 129);
}
.footer .footer--form__title {
  font-family: Unbounded;
  font-weight: 400;
  font-size: 1.8rem;
}
.footer .footer--form__under--title {
  font-family: Unbounded;
  font-weight: 200;
  font-size: 1.2rem;
}
.footer .footer--form__input--box {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.footer .footer--form__input--box .text {
  font-family: Unbounded;
  font-weight: 300;
  font-size: 1.2rem;
  padding: 1% 0 1% 0;
}
.footer .footer--form__input--box .input {
  font-family: Unbounded;
  font-weight: 200;
  font-size: 1rem;
  background-color: rgba(235, 199, 129, 0.2);
  border-radius: 30px;
  height: 40px;
  border: none;
  Outline: none;
  text-align: center;
}
.footer .footer--form__input--box .input:hover {
  background-color: rgb(255, 255, 255);
  border: none;
}
.footer .footer--form__input--box .comment {
  height: 20vh;
}
.footer .footer--form__button {
  background-color: rgb(235, 199, 129);
  color: rgb(8, 43, 24);
  border-radius: 30px;
  border: none;
  font-family: Unbounded;
  font-weight: 300;
  height: 6%;
  width: 40%;
  margin: 1% 0 1% 60%;
}
.footer .footer--form__button:hover {
  background-color: rgb(8, 43, 24);
  color: rgb(235, 199, 129);
  transition: all 0.3s;
}
.footer .footer--form__acept {
  font-family: Unbounded;
  font-weight: 300;
  font-size: 0.6rem;
  color: rgb(235, 199, 129);
}

/*# sourceMappingURL=Style-SCSS.css.map */
