@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Vesna, Unbounded, sans-serif;
  background-repeat: no-repeat;
}

@font-face {
  font-family: Vesna;
  src: url("../fonts/Vesna.ttf") format("truetype");
}
@font-face {
  font-family: Unbounded;
  src: url("../fonts/Unbounded.ttf") format("truetype");
}
@font-face {
  font-family: "Wilhelm Gotisch";
  src: url("../fonts/Wilhelm Gotisch.ttf") format("truetype");
}
.header--conteiner {
  background-color: #082b18;
  background-image: url(../img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100svh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}
.header--conteiner .header--conteiner--title {
  margin: 20vh;
  background-image: url("../img/logo.svg");
  width: 100%;
  height: 25%;
  background-position: center;
}
.header--conteiner .header--conteiner--title__under {
  color: white;
  font-size: 2.8vw;
  height: 22vh;
}
.header--conteiner .header--conteiner__arrou__botom {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: #EBC881;
}
.header--conteiner .header--conteiner__arrou__botom__text {
  font-family: Unbounded;
  font-size: 1.8vh;
}

.main--blok {
  background-color: #082b18;
  /*блок3*/
  /*bloc 4*/
  /*block 5*/
  /*bloc 6*/
}
.main--blok .header--conteiner--title {
  height: 40%;
  background-position: center;
}
.main--blok #gen-plan {
  background-image: url("../img/gen-back_svg.svg");
}
.main--blok .conteiner {
  background-image: url(../img/fon-svg.svg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main--blok .conteiner .conteiner__back-blok {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 95%;
  background-color: #FFF4DE;
  border-radius: 30px;
  padding: 1%;
  margin: 5% 0 5% 0;
}
.main--blok .conteiner .conteiner__back-blok .line {
  border: 1px solid #5F4718;
  border-top: 0px;
  margin: 0% 3.5% 3% 3.5%;
}
.main--blok .conteiner .conteiner__back-blok .conteiner__back-blok__title {
  display: flex;
  flex-direction: row;
  width: 40%;
  height: 6%;
  align-items: center;
}
.main--blok .conteiner .conteiner__back-blok .conteiner__back-blok__title .conteiner__block-top--img {
  width: 40px;
}
.main--blok .conteiner .conteiner__back-blok .conteiner__back-blok__title .img--line {
  width: 20%;
  padding: 4%;
}
.main--blok .conteiner .conteiner__back-blok .conteiner__back-blok__title .title {
  font-family: "Unbounded";
  color: #362709;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1rem;
}
@media (max-width: 430px) {
  .main--blok .conteiner .conteiner__back-blok .conteiner__back-blok__title .title {
    font-size: 0.4rem;
  }
}
.main--blok .conteiner .conteiner__back-blok .conteiner__block-top, .main--blok .conteiner .conteiner__back-blok .conteiner--2__block-top, .main--blok .conteiner .conteiner__back-blok .conteiner__panorama {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0% 3.5% 0% 3.5%;
}
.main--blok .conteiner .conteiner__back-blok .conteiner__block-top .conteiner__block-top__left, .main--blok .conteiner .conteiner__back-blok .conteiner--2__block-top .conteiner__block-top__left, .main--blok .conteiner .conteiner__back-blok .conteiner__panorama .conteiner__block-top__left {
  margin: 0 3% 0 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.main--blok .conteiner .conteiner__back-blok .conteiner__block-top .conteiner__block-top__left ul.dash-list, .main--blok .conteiner .conteiner__back-blok .conteiner--2__block-top .conteiner__block-top__left ul.dash-list, .main--blok .conteiner .conteiner__back-blok .conteiner__panorama .conteiner__block-top__left ul.dash-list {
  list-style: none; /* Отказываемся от стандартных маркеров */
}
.main--blok .conteiner .conteiner__back-blok .conteiner__block-top .conteiner__block-top__left ul.dash-list li::before, .main--blok .conteiner .conteiner__back-blok .conteiner--2__block-top .conteiner__block-top__left ul.dash-list li::before, .main--blok .conteiner .conteiner__back-blok .conteiner__panorama .conteiner__block-top__left ul.dash-list li::before {
  content: "– "; /* Вот и наше тире! */
  padding-right: 5px; /* А здесь обеспечим утонченный отступ для тире */
}
.main--blok .conteiner .conteiner__back-blok .conteiner__block-top .conteiner__block-top__left .dash-list-text, .main--blok .conteiner .conteiner__back-blok .conteiner--2__block-top .conteiner__block-top__left .dash-list-text, .main--blok .conteiner .conteiner__back-blok .conteiner__panorama .conteiner__block-top__left .dash-list-text {
  text-align: justify;
  font-size: 2.25vh;
  color: #5F4718;
  font-weight: 300;
  font-family: "Unbounded";
  margin-bottom: 2%;
}
.main--blok .conteiner .conteiner__back-blok .conteiner__block-top .dender_left, .main--blok .conteiner .conteiner__back-blok .conteiner--2__block-top .dender_left, .main--blok .conteiner .conteiner__back-blok .conteiner__panorama .dender_left {
  justify-content: start !important;
}
.main--blok .conteiner .conteiner__back-blok .conteiner__block-top .conteiner__block-top__right, .main--blok .conteiner .conteiner__back-blok .conteiner--2__block-top .conteiner__block-top__right, .main--blok .conteiner .conteiner__back-blok .conteiner__panorama .conteiner__block-top__right {
  width: 60%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.main--blok .conteiner .conteiner__back-blok .conteiner__block-top .poto-container-1-img, .main--blok .conteiner .conteiner__back-blok .conteiner--2__block-top .poto-container-1-img, .main--blok .conteiner .conteiner__back-blok .conteiner__panorama .poto-container-1-img {
  width: 100%;
  border-radius: 10px;
  height: 80%;
  background-size: cover;
}
.main--blok .conteiner .conteiner__back-blok .conteiner__block-top .poto-container-2-img, .main--blok .conteiner .conteiner__back-blok .conteiner--2__block-top .poto-container-2-img, .main--blok .conteiner .conteiner__back-blok .conteiner__panorama .poto-container-2-img {
  background-image: url("../img/F2.png");
  width: 100%;
  border-radius: 10px;
  height: 80%;
  background-size: cover;
}
.main--blok .conteiner .conteiner__back-blok .conteiner__block-top .dendr-1, .main--blok .conteiner .conteiner__back-blok .conteiner--2__block-top .dendr-1, .main--blok .conteiner .conteiner__back-blok .conteiner__panorama .dendr-1 {
  background-image: url("../img/photo-new-1.jpg");
}
.main--blok .conteiner .conteiner__back-blok .conteiner__block-top .dendr-2, .main--blok .conteiner .conteiner__back-blok .conteiner--2__block-top .dendr-2, .main--blok .conteiner .conteiner__back-blok .conteiner__panorama .dendr-2 {
  background-image: url("../img/photo-new2.jpg");
}
.main--blok .conteiner .conteiner__back-blok .conteiner__block-top .conteiner__block-top__main--text, .main--blok .conteiner .conteiner__back-blok .conteiner--2__block-top .conteiner__block-top__main--text, .main--blok .conteiner .conteiner__back-blok .conteiner__panorama .conteiner__block-top__main--text {
  text-align: justify;
  font-size: 2.25vh;
  color: #5F4718;
  font-weight: 300;
  font-family: "Unbounded";
  margin-bottom: 2%;
  font-style: italic;
}
.main--blok .conteiner .conteiner__back-blok .conteiner__block-top .conteiner__block-top__main--text > span, .main--blok .conteiner .conteiner__back-blok .conteiner--2__block-top .conteiner__block-top__main--text > span, .main--blok .conteiner .conteiner__back-blok .conteiner__panorama .conteiner__block-top__main--text > span {
  font-size: 3rem;
  font-family: "Wilhelm Gotisch";
}
.main--blok .conteiner .conteiner__back-blok .conteiner__block-top .conteiner__block-top__title, .main--blok .conteiner .conteiner__back-blok .conteiner--2__block-top .conteiner__block-top__title, .main--blok .conteiner .conteiner__back-blok .conteiner__panorama .conteiner__block-top__title {
  text-align: justify;
  font-size: 2.8rem;
  color: #362709;
  font-weight: 300;
  font-family: "Wilhelm Gotisch";
  display: flex;
  margin: 0 auto;
  text-transform: uppercase;
}
.main--blok .conteiner .conteiner__back-blok .conteiner__block-top .conteiner__block-top__title .conteiner__block-top--img, .main--blok .conteiner .conteiner__back-blok .conteiner--2__block-top .conteiner__block-top__title .conteiner__block-top--img, .main--blok .conteiner .conteiner__back-blok .conteiner__panorama .conteiner__block-top__title .conteiner__block-top--img {
  padding-left: 2%;
}
.main--blok .conteiner .conteiner__back-blok .conteiner--2__block-top {
  flex-direction: row-reverse;
}
.main--blok .conteiner .conteiner__back-blok .conteiner__panorama {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1%;
}
.main--blok .conteiner .conteiner__back-blok .conteiner__panorama .conteiner__panorama_title {
  display: flex;
  align-items: center;
}
.main--blok .conteiner .conteiner__back-blok .conteiner__panorama--under {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 85%;
  margin-bottom: 2%;
}
.main--blok .conteiner .conteiner__back-blok .conteiner__panorama--under .conteiner__panorama--under__block__text {
  font-family: Unbounded;
  font-weight: 900;
  color: #FFF4DE;
  font-size: 3rem;
}
.main--blok .conteiner .conteiner__back-blok .conteiner__panorama--under .conteiner__panorama--under__box {
  width: 50%;
  background-color: #FFF4DE;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
}
.main--blok .conteiner .conteiner__back-blok .conteiner__panorama--under .conteiner__panorama--under__box .conteiner__panorama--under__box-bacgr {
  background-color: #FFF4DE;
}
.main--blok .conteiner .conteiner__back-blok .conteiner__panorama--under .conteiner__panorama--under__box .button--panorama {
  background-color: #362709;
  color: #FFF4DE;
  border-radius: 20px;
  border: none;
  font-size: 1.3rem;
  font-weight: 400;
  font-family: Unbounded;
  text-transform: uppercase;
  padding: 3%;
  width: 79%;
  text-decoration: none;
}
.main--blok .conteiner .conteiner__back-blok .conteiner__panorama--under .conteiner__panorama--under__block-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 100%;
  background-image: url("../img/3Dphoto.png");
  margin: 1%;
  justify-content: center;
  border-radius: 10px;
  padding: 1%;
  background-size: cover;
}
.main--blok .conteiner .conteiner__back-blok .conteiner__panorama--under .conteiner__panorama--under__block-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 100%;
  background-image: url("../img/360photo.png");
  margin: 1%;
  justify-content: center;
  border-radius: 10px;
  padding: 1%;
  background-size: cover;
}
.main--blok .conteiner .conteiner__back-blok .text__po_zaprosy {
  text-align: center;
  font-size: 1.8rem;
  font-family: Unbounded;
  color: #362709;
  font-weight: 400;
}
.main--blok .conteiner .conteiner__back-blok .Citata {
  text-align: center;
  font-size: 2rem;
  font-family: Unbounded;
  color: #362709;
  font-weight: 300;
  font-style: italic;
  padding: 2%;
}
.main--blok .conteiner .conteiner__back-blok .CitataAvtor {
  text-align: end;
  font-size: 1rem;
  font-family: Unbounded;
  color: #362709;
  font-weight: 300;
  font-style: italic;
}
.main--blok .conteiner--3--list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  line-height: 45px;
}
.main--blok .conteiner--3--list__item {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.main--blok .conteiner--3--list__item__text {
  display: flex;
  flex-direction: column;
}
.main--blok .conteiner--3--list__img {
  width: 46px;
  margin-right: 6%;
}
.main--blok .conteiner--3--list__item__title {
  font-family: Unbounded;
  font-size: 1.5rem;
  color: #362709;
  font-weight: 400;
}
.main--blok .conteiner--3--list__item__defolt-text {
  font-family: Unbounded;
  font-weight: 300;
  color: #362709;
  font-size: 1.2rem;
}
.main--blok .conteiner--3__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3%;
}
.main--blok .map {
  display: flex;
}
.main--blok .sleder-img {
  margin-top: 5%;
  width: 100%;
  height: 100%;
}
.main--blok .sleder-img .img-slider {
  border-radius: 30px;
}
.main--blok .continer--3--button {
  display: flex;
  flex-direction: row;
  height: 5%;
  width: 50%;
  padding: 0.5% 0 0 0;
  margin: 0 auto;
  padding: 2% 0 2% 0;
  z-index: 900000;
}
.main--blok .button_3 {
  background-color: #FFF4DE;
  color: #395340;
  font-family: Unbounded;
  font-weight: 400;
  width: 50%;
  border-radius: 30px 0 0 30px;
  border: 2px solid #395340;
  padding: 2%;
}
.main--blok .button_3:hover {
  background-color: #FFF4DE;
  color: #395340;
  transition: all 0.3s;
  padding: 2%;
}
.main--blok .button_4 {
  background-color: #395340;
  color: #FFF4DE;
  font-family: Unbounded;
  font-weight: 400;
  width: 50%;
  border-radius: 0 30px 30px 0;
  border: 2px solid #395340;
  padding: 2%;
}
.main--blok .button_4:hover {
  background-color: #FFF4DE;
  color: #395340;
  transition: all 0.3s;
  padding: 2%;
}
.main--blok .conteiner--3__content--discript {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3%;
  height: 90vh;
}
.main--blok .conteiner--3__content--discript .slider-list {
  flex-direction: row;
  line-height: 28px;
  padding: 1%;
  width: 100%;
  align-items: center;
}
.main--blok .conteiner--3__content--discript .swiper--block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3% 3.5% 3% 3.5%;
}
.main--blok .block-4 {
  background-image: url("../img/Fon-4.svg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background-size: cover;
  height: 100dvh;
}
.main--blok .block-4--img {
  height: 100px;
}
.main--blok .conteiner--4__slider {
  margin: 5%;
  height: 100%;
  background-color: #FFF4DE;
  border-radius: 30px;
  border: 4px solid #EDDDC1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.main--blok .conteiner--4__slider__text {
  padding: 1% 0 0 0;
  font-family: Unbounded;
  font-size: 1.6rem;
  font-weight: 300;
  color: #362709;
  text-align: center;
}
.main--blok .conteiner--5 {
  background-image: url("../img/fon-blok5.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main--blok .citata_logo {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 2% 0 0;
}
.main--blok .conteiner--5--text {
  font-family: Unbounded;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  color: #FFF4DE;
  padding: 10% 1% 1% 1%;
}
.main--blok .header--conteiner--title__under {
  color: white;
  font-size: 2.8vw;
  height: 22vh;
}
.main--blok .container--6 {
  background-image: url("../img/footer-fon.svg");
  background-size: cover;
  background-color: #082b18;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main--blok .container--6 .politika-conf {
  font-size: 2rem;
  color: #EBC781;
  font-family: Unbounded;
  font-weight: 300;
  margin: 0 auto;
}
.main--blok .container--6 .container--6--form {
  padding: 1%;
  color: #FFF4DE;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: auto auto;
  border-radius: 30px;
  background-color: rgba(37, 137, 83, 0.2);
}
.main--blok .container--6 .container--6--form .container--6--form__margin {
  margin: 0 auto;
  color: rgb(235, 199, 129);
  width: 40dvw;
}
.main--blok .container--6 .container--6--form__title {
  font-family: Unbounded;
  font-weight: 400;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.main--blok .container--6 .container--6--form__under--title {
  font-family: Unbounded;
  font-weight: 200;
  font-size: 1.2rem;
}
.main--blok .container--6 .container--6--form__input--box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}
.main--blok .container--6 .container--6--form__input--box .text {
  font-family: Unbounded;
  font-weight: 300;
  font-size: 1.2rem;
  padding: 1% 0 1% 0;
  margin-left: 5.5%;
}
.main--blok .container--6 .container--6--form__input--box .input {
  font-family: Unbounded;
  font-weight: 300;
  font-size: 1.3rem;
  background-color: rgba(235, 199, 129, 0.2);
  border-radius: 20px;
  width: 90%;
  height: 70px;
  border: none;
  Outline: none;
  padding-left: 2%;
  color: rgb(235, 199, 129);
}
.main--blok .container--6 .container--6--form__input--box .input:focus {
  border: 3px;
  border-color: rgb(235, 199, 129);
  border-style: solid;
}
.main--blok .container--6 .container--6--form__input--box .comment {
  height: 20vh;
  resize: none;
}
.main--blok .container--6 .container--6--form__button--block {
  margin: 2% 0 2% 0;
  display: flex;
  justify-content: flex-end;
}
.main--blok .container--6 .container--6--form__button {
  background-color: rgb(235, 199, 129);
  color: rgb(8, 43, 24);
  border-radius: 30px;
  border: none;
  font-family: Unbounded;
  font-weight: 300;
  font-size: 1.7rem;
  text-transform: capitalize;
  padding: 1%;
}
.main--blok .container--6 .container--6--form__button:hover {
  background-color: rgb(8, 43, 24);
  color: rgb(235, 199, 129);
  transition: all 0.3s;
}
.main--blok .container--6 .container--6--form__acept {
  font-family: Unbounded;
  font-weight: 300;
  font-size: 0.6rem;
  color: rgb(235, 199, 129);
  text-align: center;
}
.main--blok .container--6 .container--6--form__acept u {
  font-family: Unbounded;
  font-weight: 300;
  font-size: 0.6rem;
  color: rgb(235, 199, 129);
  text-decoration: none;
}

/*footer*/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #082b18;
  width: 100%;
  height: 5%;
  padding: 1%;
}
.footer .footer--img--block {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}
.footer .pop-up {
  width: 36px;
  margin: 3%;
}
.footer .footer--img {
  width: 36px;
  margin: 3%;
}
.footer .footer--number {
  background-color: #EBC781;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
.footer .footer--number .footer--number--tel {
  color: #082b18;
  font-size: 1rem;
  font-weight: 400;
  font-family: Unbounded;
}
.footer .footer--left__block {
  display: flex;
  flex-direction: row;
  width: 25%;
}
.footer .footer--right__block {
  display: flex;
  flex-direction: row;
}
.footer .footer--alpine__imenie {
  font-family: Unbounded;
  font-size: 0.8rem;
  color: #EBC781;
  display: flex;
  align-items: center;
}

/*search menu*/
.search--menu {
  margin-top: 0.5%;
  border-radius: 40px;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
}
.search--menu .search--menu__background {
  padding: 1%;
  background-color: rgba(11, 81, 44, 0.5019607843);
  margin: 0 auto;
  width: 95%;
  height: 70px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
}
.search--menu .search--menu__text {
  font-family: Unbounded;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4rem;
  text-align: center;
  color: #FFF4DE;
  margin-left: 5%;
  text-transform: uppercase;
}
.search--menu .search--menu__left {
  display: flex;
  flex-direction: row;
  margin-left: 1%;
}
.search--menu .search--menu__right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
}
.search--menu .search--menu__right .footer--img {
  width: 36px;
}
.search--menu .search--menu__button {
  display: flex;
  border-radius: 40px;
  background-color: rgba(8, 43, 24, 0.8);
  color: #FFF4DE;
  font-family: Unbounded;
  font-weight: 400;
  border: none;
  text-transform: uppercase;
  font-size: 1.025rem;
  width: 72%;
  height: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search--menu .search--menu__button:hover {
  color: rgba(8, 43, 24, 0.8);
  background-color: #FFF4DE;
  cursor: pointer;
}

.hamberger__menu {
  background-color: rgba(11, 81, 44, 0.5);
  width: 25%;
  position: fixed;
  top: 8.5%;
  left: 2.5%;
  border-radius: 35px;
  display: none;
}

.menu__item {
  color: rgb(255, 244, 222);
  font-family: "Unbounded", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  padding-top: 3%;
  padding-bottom: 3%;
  line-height: 1.9;
  text-transform: uppercase;
}

.menu__item:hover {
  /*   background-color: #FFF4DE;
     color: #082B18CC;*/
  color: #9e8348;
  font-size: 30px;
}

ul.menu__box {
  margin-top: 3%;
  margin-left: 10%;
}

.close__hambirger__menu {
  left: 85%;
  top: 8%;
  position: absolute;
  height: 20px;
}

.wrapper {
  height: 350px;
  margin: auto 0;
  position: relative;
  width: 100%;
  padding: 3%;
  height: 90vh;
  display: flex;
  justify-content: center;
}

.slider {
  height: inherit;
  overflow: hidden;
  position: relative;
  width: inherit;
}

.wrapper > input {
  display: none;
}

.slides {
  height: inherit;
  position: absolute;
  width: inherit;
}

.controls {
  position: absolute;
  margin: 0 auto;
  bottom: 6%;
  z-index: 9000;
  display: flex;
  justify-content: center;
}

.wrapper label {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #FFF4DE;
  width: 10px;
  height: 10px;
  margin-left: 15px;
}

.wrapper label:after {
  border: 2px solid #362709;
  content: " ";
  display: block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.wrapper label {
  cursor: pointer;
  display: inline-block;
  -webkit-transition: background ease-in-out 0.5s;
  -moz-transition: background ease-in-out 0.5s;
  -o-transition: background ease-in-out 0.5s;
  transition: background ease-in-out 0.5s;
  background: #362709;
}

.wrapper label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
  background: #FFF4DE;
}

.slides {
  height: inherit;
  opacity: 0;
  position: absolute;
  width: inherit;
  z-index: 0;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
  opacity: 1;
  z-index: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.slider-text {
  height: 80% !important;
  font-size: 1rem !important;
  padding: 0 5% 0 0 !important;
}

#panorama, #position {
  background-image: none !important;
}

.swiper {
  padding: 4%;
  overflow: hidden;
  display: flex;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  background: rgba(255, 255, 255, 0);
}

.swiper_img_img {
  width: 20vw;
  height: 41vh;
  display: block;
  object-fit: cover;
  border-radius: 25px;
}

@media (max-width: 600px) {
  .swiper-slide img {
    height: 25vh !important;
  }
}
.button-download {
  background-image: url("../img/Download_img/bg-svg-download.svg");
  background-color: #082B18;
  width: 20vw;
  height: 41vh;
  display: flex;
  background-size: cover;
  border-radius: 25px;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 5% 5%;
}
.button-download .button-download__svg {
  width: 3vw;
  height: 10vh;
  object-fit: none;
}
.button-download .button-download__text {
  font-family: Unbounded;
  font-size: 3.45vh;
  font-weight: 300;
  text-transform: uppercase;
  color: #FFF4DE;
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
}

iframe {
  border-radius: 30px;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  backdrop-filter: blur(2px) brightness(0.7);
  -webkit-backdrop-filter: blur(2px) brightness(0.7);
  display: none;
}

.popup_close {
  margin: 0;
  right: 1%;
  padding: 0;
  letter-spacing: 0;
  color: #fff;
  position: fixed;
  z-index: 3;
  font-size: 3vw;
  transform: rotate(45deg);
  top: 1%;
  cursor: pointer;
}

#popup_img {
  margin: 1.3% auto;
  width: 95%;
  height: 97%;
  border-radius: 20px;
}

.swiper-pagination-bullet {
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

@media (max-width: 1000px) {
  .block {
    padding: 15% 0;
  }
  .block > img {
    width: 90%;
  }
  .block > p {
    font-size: 4vw;
    text-align: center;
  }
  .swiper {
    padding: 0;
  }
  #popup_img {
    margin: 72% auto;
    height: 30%;
  }
  .popup_close {
    font-size: 15vw;
    right: 4%;
  }
}
.swiper-slide__img {
  width: 100%;
  height: 90vh;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
}

.swiper-button-next {
  position: absolute;
  height: 50px;
  left: 93%;
  top: 160%;
}

.swiper-button-prev {
  position: absolute;
  height: 50px;
  right: 37%;
  top: 160%;
}

.arrou_swiper1 {
  position: relative;
  width: 50px;
  height: 50px;
}

.arrou_swiper2 {
  position: relative;
  width: 50px;
  height: 50px;
}

.next {
  position: absolute;
  height: 50px;
  left: 93%;
  top: 883%;
}

.prev {
  position: absolute;
  height: 50px;
  right: 93%;
  top: 883%;
}

/*# sourceMappingURL=Style-SCSS.css.map */
