<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/zero.css" type="text/CSS">
    <link rel="stylesheet" href="../static/css/Style-SCSS.css" type="text/CSS">
    <link rel="stylesheet" href="../static/css/popup-stule.css" type="text/CSS">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="search--menu">
    <div class="search--menu__background">
        <div  class="search--menu__left"
              onclick="hamburger__menu()">
            <img src="../static/img/burger_menu.svg" alt="">
            <span class="search--menu__text">меню</span>
        </div>
        <div  class="search--menu__right">
            <img src="../static/img/telegramm.svg" alt="" class="footer--img">
            <img src="../static/img/wasap.svg" alt="" class="footer--img">
            <button class="search--menu__button"
                    onclick="openPopupForm()">
                консультация</button>
        </div>
    </div>
</div>

    <headr class="header--conteiner">
         <img class="header--conteiner--title"
             src="../static/img/logo.svg"
             alt="логотип сайта Альпийские имения 2.0">
        <div class="header--conteiner--title__under">Имеем то, что имеем...</div>
        <div class="header--conteiner__arrou__botom">
            <div class="header--conteiner__arrou__botom__text">подробности</div>
            <img src="../static/img/arrou.svg" alt="Стрелка которая направлена вниз">
            <div class="header--conteiner__arrou__botom__text">ниже</div>
        </div>
    </headr>
    <main class="main--blok">
        <!--  BLOCK 1  о проекте- -->
        <div class="conteiner">
            <div class="conteiner__back-blok">
                <div class="conteiner__back-blok__title">
                    <img class="img--line" src="../static/img/line.svg" alt="">
                    <div class="title" id="about_project"> о проекте</div>
                </div>
                <div class="conteiner__block-top">
                   <div class="conteiner__block-top__left">
                        <p class="conteiner__block-top__title">
                            загородная жизнь<br>
                            с альпийской культурой
                            <img class="conteiner__block-top--img"
                            src="../static/img/Mountain.svg" alt="">
                        </p>
                       <p class="conteiner__block-top__main--text">
                           Земельный участок — важнейший природный ресурс, предоставляемый человеку,<br>
                           товар, основа ведения хозяйства, источник существования.<br>
                           Личное подворье далеко не исчерпало себя — в нем сокрыт мощный потенциал.<br>
                       </p>
                       <p class="conteiner__block-top__main--text">
                           При соблюдении технологий, экологического земледелия,<br>
                           содержание такого участка и выращивание сельскохозяйственной продукции<br>
                           не будет обладать высокой трудоемкостью, характерной для современных<br>
                           массовых способов сельскохозяйственного производства.<br>
                       </p>
                       <p class="conteiner__block-top__main--text">
                           Альпийские имения 2.0 — роскошный земельный участок площадью 4,4 гектара,<br>
                           расположенный в самом сердце курортной зоны Алтая, всего в трёх километрах<br>
                           от живописного озера Ая. По соседству с участком находятся знаменитые курорты<br>
                           «Манжерок» и Чемал, а также не менее известный курортно-игорный дом<br>
                           «Altai Palace». В дополнение ко всему, по близости находится гора<br>
                           «Чёртов палец», с которой открывается вид на все красоты Алтая, включая в себя<br>
                           бурную горную реку Кануть, у которой вода переливается из прозрачного<br>
                           в берюзовые цвета.<br>
                       </p>
                   </div>
                    <div class="conteiner__block-top__right">
                        <img src="../static/img/photo_container_1-top_right.png"
                             alt=""
                            class="poto-container-1-img">
                    </div>
                </div>
                <hr class="line">
                <div class="conteiner--2__block-top">
                    <div class="conteiner__block-top__left">
                        <p class="conteiner__block-top__title">
                            Усадьба, как второе<br>
                            жилище горожанина
                            <img class="conteiner__block-top--img"
                                 src="../static/img/House.svg" alt="">
                        </p>
                        <p class="conteiner__block-top__main--text">
                            Благодаря разумному хозяйствованию, с давних пор является практически<br>
                            безотходным, экологически чистым, производственно жилым комплексом,<br>
                            что обеспечивается, прежде всего, многоотраслевым характером хозяйства.<br>
                        </p>
                        <p class="conteiner__block-top__main--text">
                            Современная усадьба, проектируется как единый<br>
                            производственно-селитебный комплекс с безотходной технологией,<br>
                            использованием альтернативных природных источников энергии,<br>
                            экологически чистых строительных материалов  и систем<br>
                            инженерного обеспечения (водопровода, канализации,<br>
                            энергообеспечения, средств связи).<br>
                        </p>
                        <p class="conteiner__block-top__main--text">
                            Для сохранения психического и физического здоровья семьи состоящей<br>
                            из трех, четырех поколений проживающих в малоэтажном жилом доме,<br>
                            формирования на приусадебном участке устойчивого и продуктивного<br>
                            биоценоза, находящегося в экологическом равновесии и самообеспечения<br>
                            продуктами питания, которые могут быть выращены самостоятельно<br>
                            при минимальных трудозатратах, необходимо иметь земельный участок<br>
                            площадью не менее 1 Га.<br>
                        </p>
                    </div>
                    <div class="conteiner__block-top__right">
                        <img src="../static/img/F2.png"
                             alt=""
                             class="poto-container-1-img">
                    </div>
                </div>
            </div>
        </div>

        <!--BLOCK 2 3D панорама-->
        <div class="conteiner" id="panorama">
            <div class="conteiner__back-blok">
                <div class="conteiner__back-blok__title">
                    <img class="img--line" src="../static/img/line.svg" alt="">
                    <div class="title" >панормама</div>
                </div>
                <div class="conteiner__panorama">
                    <div class="conteiner__panorama_title">
                        <p class="conteiner__block-top__title">
                            Поверти, покрути</p>
                        <img class="conteiner__block-top--img"
                             src="../static/img/Dizzy.svg" alt="">
                    </div>
                    <p class="conteiner__block-top__main--text">
                        Варианты для детального просмотра земельного участка</p>
                </div>
                <div class="conteiner__panorama--under">
                    <div class="conteiner__panorama--under__block-1">
                        <p class="conteiner__panorama--under__block__text">3D</p>
                        <div class="conteiner__panorama--under__box">
                            <img class="qr" src="../static/img/3D.svg" alt="">
                            <button class="button--panorama">перейти</button>
                        </div>
                    </div>
                    <div class="conteiner__panorama--under__block-2">
                        <p class="conteiner__panorama--under__block__text">360°</p>
                        <div class="conteiner__panorama--under__box">
                            <img class="qr" src="../static/img/360.svg" alt="">
                            <button class="button--panorama">перейти</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Block  3  расположение  -->
        <div class="conteiner">
            <div class="conteiner__back-blok">
                <div class="conteiner__back-blok__title">
                    <img class="img--line" src="../static/img/line.svg" alt="">
                    <div class="title" >расположение</div>
                </div>
                <div class="conteiner--3__content">
                    <div class="conteiner--3--list">
                        <div class="conteiner--3--list__item">
                            <img class="conteiner--3--list__img"
                                 src="../static/img/1.svg" alt="">
                            <div class="conteiner--3--list__item__text">
                                <span class="conteiner--3--list__item__title">
                                    Озеро Ая  —  3 км.</span>
                                <span class="conteiner--3--list__item__defolt-text">
                                    40 минут пешком</span>
                                <span class="conteiner--3--list__item__defolt-text">
                                    20 минут езды</span>
                                <span class="conteiner--3--list__item__defolt-text">
                                    5 минут полёта</span>
                            </div>
                        </div>
                        <div class="conteiner--3--list__item">
                            <img class="conteiner--3--list__img"
                                 src="../static/img/2.svg" alt="">
                            <div class="conteiner--3--list__item__text">
                                <span class="conteiner--3--list__item__title">
                                    Курорт Манжерок  —  10 км.</span>
                                <span class="conteiner--3--list__item__defolt-text">
                                    45 минут езды</span>
                                <span class="conteiner--3--list__item__defolt-text">
                                    15 минут полёта</span>
                            </div>
                        </div>
                        <div class="conteiner--3--list__item">
                            <img class="conteiner--3--list__img"
                                 src="../static/img/3.svg" alt="">
                            <div class="conteiner--3--list__item__text">
                                <span class="conteiner--3--list__item__title">
                                    Село Чемал  —  21 км.</span>
                                <span class="conteiner--3--list__item__defolt-text">
                                    1,5 часа езды</span>
                                <span class="conteiner--3--list__item__defolt-text">
                                    30 минут полёта</span>
                        </div>
                        </div>
                        <div class="conteiner--3--list__item">
                            <img class="conteiner--3--list__img"
                                 src="../static/img/4.svg" alt="">
                            <div class="conteiner--3--list__item__text">
                                <span class="conteiner--3--list__item__title">
                                    Казино Altai Palace — 16 км.</span>
                                <span class="conteiner--3--list__item__defolt-text">
                                    1 час езды</span>
                                <span class="conteiner--3--list__item__defolt-text">
                                    15 минут полёта</span>
                            </div>
                        </div>
                    </div>
                    <div class="map">
                        <img src="../static/img/Карта.svg" alt="">
                    </div>
                </div>
                <div class="continer--3--button">
                    <button class="button_3">окружение</button>
                    <button class="button_4">генплан</button>
                </div>

            </div>
        </div>

        <!-- BLOCK 4 Генплан -->
        <div class="conteiner--2">
            <div class="conteiner--2__back-blok block-4">
                <div class="conteiner--3--title">
                    <img class="conteiner--3-img--line block-4--img"
                         src="../static/img/line.svg" alt="">
                    <div class="conteiner--3-img--title block-4--title">
                        генплан</div>
                </div>

                <div class="conteiner--4__slider">
                    <span class="conteiner--4__slider__text">
                            Мы предлагаем готовый вариант <br>
                            застройки для Вашего земельного участка.
                    </span>
                </div>
            </div>
        </div>

        <!-- BLOCK 5   Текстовый -->
        <div class="conteiner--5">
            <span class="conteiner--5--text">
                Горы — это не просто красивый пейзаж, это место силы, источник вдохновения и энергии.<br>
                Они заставляют нас задуматься о вечном, о смысле жизни, и о том, как мы относимся к природе и друг к другу.<br>
                Ночью, когда горы окутывает таинственный мрак, звезды кажутся ближе,<br>
                а луна освещает вершины, создавая неповторимую атмосферу.
            </span>
            <img class="header--conteiner--title"
                 src="../static/img/logo.svg"
                 alt="логотип сайта Альпийские имения 2.0">
            <div class="header--conteiner--title__under">
                Имеем то, что имеем...</div>
        </div>
        <!-- BLOCK 6   форма -->
        <div class="container--6">
            <div class="container--6--form">
                <div class="container--6--form__margin">
                    <span class="container--6--form__title">остались вопросы? <br></span>
                    <span class="container--6--form__under--title">
                        Заполните форму и мы свяжемся с Вами<br>
                        в ближайшее время.
                    </span>
                    <div class="container--6--form__input--box">
                        <span class="container--6--form__input--box text">Ваше имя</span>
                        <input class="container--6--form__input--box input"
                               type="text"
                               placeholder="Как к Вам обращаться?">
                    </div>
                    <div class="container--6--form__input--box">
                        <span class="container--6--form__input--box text">Номер телефона</span>
                        <input class="container--6--form__input--box input tel" id="tel" name="tel"
                               type="tel"
                               placeholder="Ваш номер телефона?">
                    </div>
                    <div class="container--6--form__input--box">
                        <span class="container--6--form__input--box text">Почта</span>
                        <input class="container--6--form__input--box input"
                               type="email"
                               placeholder="Ваша почта?">
                    </div>

                    <div class="container--6--form__input--box">
                        <span class="container--6--form__input--box text">Ваш комментарий</span>
                        <input class="container--6--form__input--box input comment"
                               type="comment"
                               cols="40"
                               rows="3"
                               placeholder="Я бы хотел">
                    </div>
                    <div class="container--6--form__button--block">
                        <button class="container--6--form__button">
                                отправить
                        </button>
                    </div>
                    <p class="container--6--form__acept">
                        Нажимая на кнопку, вы даёте согласие
                        на обработку персональных данных </p>
                </div>
            </div>
        </div>
    </main>

        <!-- Footer        -->
    <footer class="footer">
            <div class="footer--left__block">
                <div class="footer--img--block">
                    <img src="../static/img/telegramm.svg" alt="" class="footer--img">
                    <img src="../static/img/wasap.svg" alt="" class="footer--img">
                </div>
                <div class="footer--number">
                    <p class="footer--number--tel">
                        +7 (999) 999-99-99
                    </p>
                </div>
            </div>
            <div class="footer--right__block">
                <p class="footer--alpine__imenie">
                    © 2024 Альпийские имения 2.0<br>
                    Политика конфиденциальности
                </p>
            </div>
    </footer>
        <!-- PopUp        -->
    <div class="PopupForm">
        <div class="PopupForm__back-ground">
            <div class="PopupForm--block">
                <div class="PopupForm--block__left">
                    <div class="talk">
                        <p class="talk__title">давайте обсудим детали?</p>
                        <p class="talk__text">Заполните форму и мы свяжемся с Вами<br>
                            в ближайшее время.</p>
                        <div class="footer--left__block">
                            <div class="footer--img--block">
                                <img src="../static/img/telegramm.svg" alt="" class="footer--img">
                                <img src="../static/img/wasap.svg" alt="" class="footer--img">
                            </div>
                            <div class="footer--number">
                                <p class="footer--number--tel">
                                    +7 (999) 999-99-99
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="PopupForm--block__right">
                    <div class="container--6--form">
                        <div class="container--6--form__margin">
                            <div class="container--6--form__input--box">
                                <span class="container--6--form__input--box text">Ваше имя</span>
                                <input class="container--6--form__input--box input"
                                       type="text"
                                       placeholder="Как к Вам обращаться?">
                            </div>
                            <div class="container--6--form__input--box">
                                <span class="container--6--form__input--box text">Номер телефона</span>
                                <input class="container--6--form__input--box input tel" id="tell" name="tel"
                                       type="tel"
                                       placeholder="Ваш номер телефона?">
                            </div>
                            <div class="container--6--form__input--box">
                                <span class="container--6--form__input--box text">Почта</span>
                                <input class="container--6--form__input--box input"
                                       type="email"
                                       placeholder="Ваша почта?">
                            </div>

                            <div class="container--6--form__input--box">
                                <span class="container--6--form__input--box text">Ваш комментарий</span>
                                <textarea class="container--6--form__input--box input comment"  cols="40" rows="3" placeholder="Я бы хотел"></textarea>
                            </div>
                            <div class="container--6--form__button--block">
                                <button class="container--6--form__button">
                                    отправить
                                </button>
                            </div>
                        </div>
                    </div>
                    <p class="container--6--form__acept">
                        Нажимая на кнопку, вы даёте согласие
                        на обработку персональных данных </p>
                </div>
            </div>
            <div  class="popup--Video__close" onclick="closePopupForm()">
                <img src="../static/img/X.svg" alt="">
            </div>
        </div>
    </div>
        <!-- Humberger menu -->
    <div class="hamberger__menu">
        <ul class="menu__box">
            <li><a class="menu__item" href="#about_project">о проекте</a></li>
            <li><a class="menu__item" href="#panorama">панорама</a></li>
            <li><a class="menu__item" href="#">генплан</a></li>
            <li><a class="menu__item" href="#">расположение</a></li>
            <li><a class="menu__item" href="#">описание</a></li>
            <li><a class="menu__item" href="#">контакты</a></li>
        </ul>
    </div>

<script src="../static/js/main.js"></script>
</body>
</html>