<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Альпийские имения 2.0</title>
    <meta http-equiv="Content-language" content="ru">
    <link rel="stylesheet" href="../static/css/zero.css" type="text/CSS">
    <link rel="stylesheet" href="../static/css/popup-stule.css" type="text/CSS">
    <link rel="stylesheet" href="../static/css/media-scss.css" type="text/CSS">
    <link rel="stylesheet" href="../static/css/Style-SCSS.css" type="text/CSS">
</head>
<body onfocus="close__humberger()">
    <div class="search--menu">
        <div class="search--menu__background">
            <div  class="search--menu__left"
                  onclick="hamburger__menu()">
                <img src="../static/img/burger_menu.svg"
                     alt=""
                     class="search--menu__burger">
                <span class="search--menu__text">меню</span>
            </div>
            <div  class="search--menu__right">
                <img src="../static/img/telegramm.svg" alt="" class="footer--img" onclick="window.location = 'https://t.me/alpineestates'" style="cursor: pointer;">
                <img src="../static/img/wasap.svg" alt="" class="footer--img" onclick="window.location = 'https://wa.me/79230023008'" style="cursor: pointer;">
                <button class="search--menu__button" onclick="openPopupForm()">консультация</button>
            </div>
        </div>
    </div>
    <header class="header--conteiner">
        <div class="header--conteiner--title logo"></div>
        <div class="header--conteiner--title__under">Имеем то, что имеем...</div>
        <div class="header--conteiner__arrou__botom" onclick="window.location = '#about_project'" style="cursor: pointer;">
            <div class="header--conteiner__arrou__botom__text">подробности</div>
            <img src="../static/img/arrou.svg"
                 alt="Стрелка которая направлена вниз"
                 class="header--conteiner__arrou__botom__svg">
            <div class="header--conteiner__arrou__botom__text">ниже</div>
        </div>
    </header>

    <main class="main--blok">
        <!--  BLOCK 1  о проекте- -->
        <div class="conteiner" id="about_project">
            <div class="conteiner__back-blok">
                <div class="conteiner__back-blok__title">
                    <img class="img--line" src="../static/img/line.svg" alt="">
                    <div class="title">о проекте</div>
                </div>
                <div class="conteiner__block-top">
                   <div class="conteiner__block-top__left">
                        <p class="conteiner__block-top__title">Загородная жизнь с альпийской культурой</p>
                       <p class="conteiner__block-top__main--text">
                           Bнастоящее время загородная (сельская) усадьба–это обширная и структурно сложная типологическая группа объектов, которые имеют свою классификацию по функциональным признакам. Апробированы на практике и предложены населению модели домовладения усадебного типа:
                       </p>
                       <ul class="dash-list">
                            <li class="dash-list-text">усадьба сельского жителя;</li>
                            <li class="dash-list-text">усадьба фермерского хозяйства;</li>
                            <li class="dash-list-text">усадьба как второе жильё гражданина. </li>
                       </ul>
                   </div>
                    <div class="conteiner__block-top__right">
                        <div class="popup" id="popup">
                            <p class="popup_close" onclick="document.getElementById('popup').style.display = 'none'">+</p>
                            <img id="popup_img" src="" alt="">
                        </div>

                        <div class="swiper NewSwiper" id="NewSwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img class="swiper-slide__img" src="../static/img/alp-home/alp-home-1.jpg" alt=""></div>
                                <div class="swiper-slide"><img class="swiper-slide__img" src="../static/img/alp-home/alp-home-2.jpg" alt=""></div>
                                <div class="swiper-slide"><img class="swiper-slide__img" src="../static/img/alp-home/alp-home-3.jpg" alt=""></div>
                                <div class="swiper-slide"><img class="swiper-slide__img" src="../static/img/alp-home/alp-home-4.jpeg" alt=""></div>
                            </div>
                            <div class="swiper-button-next new_swiper_next" id="new_swiper_next">
                                <img class="arrou_swiper1" src="../static/img/right_icon-icons.com_61212.svg" alt="">
                            </div>
                            <div class="swiper-button-prev new_swiper_prev" id="new_swiper_prev">
                                <img class="arrou_swiper2" src="../static/img/left_icon-icons.com_61213.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="line">
                <div class="conteiner--2__block-top">
                    <div class="conteiner__block-top__left">
                        <p class="conteiner__block-top__title">
                            Усадьба, как второе жилище горожанина
                        </p>
                        <p class="conteiner__block-top__main--text">
                            Cовременная усадьба проектируется как единый производственно – селитебный комплекс с безотходной технологией, использованием альтернативных природных источников энергии, экологически чистых строительных материалов и систем инженерного обеспечения.
                        </p>
                        <p class="conteiner__block-top__main--text">
                            Cовременная усадьба проектируется как единый производственно – селитебный комплекс с безотходной технологией, использованием альтернативных природных источников энергии, экологически чистых строительных материалов и систем инженерного обеспечения.
                        </p>
                        <p class="conteiner__block-top__main--text">
                           Необходимо выделить в отдельную группу такой своеобразный тип загородной недвижимости, как резиденция. Резиденция является разновидностью дачи общественных лиц, организаций, творческой интеллигенции и т.д. В последние годы в секторе элитного загородного жилья формируется новый тип – загородное имение с примыкающим к нему приусадебным хозяйством индивидуального назначения. Отметим, что имеется ввиду жильё премиум класса, которое принадлежит людям, проживающим на природе, но по роду своей деятельности связанным с городскими мегаполисами, с источником дохода никак не связанным с функционированием подсобного хозяйства имения. В данной модели загородного имения подсобное хозяйство обслуживается персоналом постоянно проживающим на территории фермы в секторе включенном в объёмно – планировочную структуру усадьбы (имения) в целом.
                        </p>
                        <p class="conteiner__block-top__main--text">
                            Bпервую очередь, говоря о современной загородной усадьбе, обращаемся к традиционным сельским усадьбам, призванным удовлетворить потребности проживающей в ней семьи, а именно в сельскохозяйственной продукции разного типа с возможной продажей образующихся излишков и т.д. Сегодня подавляющее большинство усадеб являются сельскими. Компактность планировки способствует экономии средств на прокладке дорог и инженерных сетей, в том числе и при использовании новых «зелёных» технологий, что является ведущим принципом организации современного малого сельского поселения.  Комплексный и многоотраслевой характер сельскохозяйственного производства в границах усадьбы удовлетворяет потребности семьи в продукции, обеспечивает безотходность и экологическую чистоту продукции и всей усадьбы, значительно сокращает энергозатраты на функционирование структуры усадьбы.
                        </p>
                        <p class="conteiner__block-top__main--text">
                            Загородное имение – это довольно обширный архитектурно – ландшафтный комплекс с развитой функциональной программой, где органично сочетаются жилая, хозяйственная и репрезентативная функции.
                        </p>
                    </div>
<!--                    <div class="conteiner__block-top__right">
                        <div class="poto-container-2-img"
                             onclick=" OpenFullForm()">
                        </div>
                    </div>-->
                </div>
            </div>
        </div>

        <!--BLOCK 2 панорама-->
        <div class="conteiner panorama" id="panorama">
            <div class="conteiner__back-blok">
                <div class="conteiner__back-blok__title">
                    <img class="img--line" src="../static/img/line.svg" alt="">
                    <div class="title" >панорама</div>
                </div>
                <div class="conteiner__panorama">
                    <div class="conteiner__panorama_title">
                        <p class="conteiner__block-top__title">
                            Поверти, покрути</p>
                    </div>
                    <p class="conteiner__block-top__main--text Blok2-text">
                        Варианты для детального просмотра земельного участка</p>
                </div>
                <div class="conteiner__panorama--under blok2">
                    <div class="conteiner__panorama--under__block-1">
                        <p class="conteiner__panorama--under__block__text">3D</p>
                        <div class="conteiner__panorama--under__box">
                            <img class="qr" src="../static/img/3D.svg" alt="">
                            <button class="button--panorama">
                                <a class="button--panorama"  href="https://las.teofly.com/app/?share=oUxN5m4S">
                                    перейти
                                </a>
                            </button>
                        </div>
                    </div>
                    <div class="conteiner__panorama--under__block-2">
                        <p class="conteiner__panorama--under__block__text">панорамы</p>
                        <div class="conteiner__panorama--under__box">
                            <img class="qr" src="../static/img/360.svg" alt="">
                            <button class="button--panorama">
                                <a class="button--panorama" href="/panorama">
                                    перейти
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="Citata">Стоимость и иная информация о земельном участке по запросу</div>
            </div>
        </div>

<!--        &lt;!&ndash; BLOCK 3 дендрарий&ndash;&gt;
        <div class="conteiner" id="dendradi">
            <div class="conteiner__back-blok">
                <div class="conteiner__back-blok__title">
                    <img class="img&#45;&#45;line" src="../static/img/line.svg" alt="">
                    <div class="title" >дендрарий</div>
                </div>
                <div class="conteiner__block-top">
                    <div class="conteiner__block-top__left">
                        <p class="conteiner__block-top__title">
                            Симбиоз красоты и экологии
                            <img class="conteiner__block-top&#45;&#45;img"
                                 src="../static/img/dendrarii-1.svg" alt="">
                        </p>
                        <p class="conteiner__block-top__main&#45;&#45;text">
                            Дендрарий на собсвенном земельном участке – это не только уникальное
                            украшение ландшафта, но и функциональное пространство,
                            которое приносит множество преимуществ.
                        </p>
                        <p class="conteiner__block-top__main&#45;&#45;text">
                            Живые коллекции редких и экзотических деревьев, кустарников,
                            которые служат не только в качестве эстетического украшения участка,
                            но и вносят значительный вклад в экологическое равновесие и
                            биоразнообразие региона.
                        </p>
                        <p class="conteiner__block-top__main&#45;&#45;text">
                            Промышленный дендрарий – инновационный подход к интеграции природы
                            в промышленную среду. Участок может стать частью экологической стратегии
                            предприятия, улучшая его имидж и вкладывая в будущее планеты, что в свою
                            очередь улучшает экологию и энергоэффективность.
                            Способствует биоразнообразию и социальной ответственности, а также создаёт
                            рекреационное пространство для сотрудников, повышая их благополучие
                            и производительность.
                        </p>
                    </div>
                    <div class="conteiner__block-top__right">
                        <div class="poto-container-1-img dendr-1"></div>
                    </div>
                </div>
                <hr class="line">
                <div class="conteiner&#45;&#45;2__block-top">
                    <div class="conteiner__block-top__left dender_left">
                        <p class="conteiner__block-top__title">
                            Гармония природы и дизайна
                            <img class="conteiner__block-top&#45;&#45;img"
                                 src="../static/img/dendrarii-2.svg" alt="">
                        </p>
                        <p class="conteiner__block-top__main&#45;&#45;text">
                            Дендрарий, оформленный в виде парка – это прекрасное место для отдыха
                            и наслаждения природой, которое может стать украшением любого
                            земельного участка.
                        </p>
                        <p class="conteiner__block-top__main&#45;&#45;text">
                            Представьте себе парк, где каждая дорожка ведет к новому открытию.
                            Это место, где можно не только насладиться красотой редких деревьев
                            и кустарников, но и узнать много нового о них.
                        </p>
                        <p class="conteiner__block-top__main&#45;&#45;text">
                            Такой парк станет не только местом для приятного времяпрепровождения,
                            но и значительно повысит ценность и привлекательность земельного участка.
                            Он станет жемчужиной вашей недвижимости, привлекая внимание
                            и восхищение посетителей.
                        </p>
                    </div>
                    <div class="conteiner__block-top__right">
                        <div class="poto-container-2-img dendr-2"></div>
                    </div>
                </div>
            </div>
        </div>-->

        <!-- Block 4  расположение  -->
        <div class="conteiner" id="position">
            <div class="conteiner__back-blok">
                <div class="conteiner__back-blok__title">
                    <img class="img--line" src="../static/img/line.svg" alt="">
                    <div class="title" >расположение</div>
                </div>
<!--  around   -->
                <div class="conteiner--3__content">
                    <div class="conteiner--3--list">
                        <div class="conteiner--3--list__item">
                            <img class="conteiner--3--list__img"
                                 src="../static/img/numbers_okryg/1.svg" alt="">
                            <div class="conteiner--3--list__item__text">
                                <span class="conteiner--3--list__item__title">
                                    Озеро Ая  —  20 км.</span>
                            </div>
                        </div>
                        <div class="conteiner--3--list__item">
                            <img class="conteiner--3--list__img"
                                 src="../static/img/numbers_okryg/2.svg" alt="">
                            <div class="conteiner--3--list__item__text">
                                <span class="conteiner--3--list__item__title">
                                    Курорт Манжерок  —  27 км.</span>
                            </div>
                        </div>
                        <div class="conteiner--3--list__item">
                            <img class="conteiner--3--list__img"
                                 src="../static/img/numbers_okryg/3.svg" alt="">
                            <div class="conteiner--3--list__item__text">
                                <span class="conteiner--3--list__item__title">
                                    Село Чемал  —  87 км.</span>
                            </div>
                        </div>
                        <div class="conteiner--3--list__item">
                            <img class="conteiner--3--list__img"
                                 src="../static/img/numbers_okryg/4.svg" alt="">
                            <div class="conteiner--3--list__item__text">
                                <span class="conteiner--3--list__item__title">
                                    Игорная зона "Сибирская монета" — 6 км.</span>
                            </div>
                        </div>
                        <div class="conteiner--3--list__item">
                            <img class="conteiner--3--list__img"
                                 src="../static/img/numbers_okryg/5.svg" alt="">
                            <div class="conteiner--3--list__item__text">
                                <span class="conteiner--3--list__item__title">
                                    Берюзовая катуь — 17 км.</span>
                            </div>
                        </div>
                    </div>
                    <div class="map">
                        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A527f30c040219527e9dba1827d07662a69cd94e80b85859699912ef8ea52d254&amp;width=330&amp;height=460&amp;lang=ru_RU&amp;scroll=true"></script>
                    </div>
                </div>
<!-- description -->
                <div class="conteiner--3__content--discript">

                    <div class="wrapper">
                        <input type="radio" name="point" id="slide1" checked>
                        <input type="radio" name="point" id="slide2">
                        <input type="radio" name="point" id="slide3">
                        <input type="radio" name="point" id="slide4">
                        <input type="radio" name="point" id="slide5">
                        <div class="slider">
                            <div class="slides slide1">
                                <div class="conteiner--3--list slider-list">
                                    <div class="conteiner--3--list__item">
                                        <div class="conteiner--3--list__item__text">
                                            <span class="conteiner--3--list__item__title">
                                                Озеро Ая
                                            </span>
                                            <span class="conteiner--3--list__item__defolt-text slider-text">
                                                Озеро Ая — самое популярное место отдыха в Алтайском крае. Оно находится в 36 километрах от
                                                города Бийска, на правом берегу реки Катуни. Вода в озере пресная и довольно тёплая, летом её
                                                температура поднимается до +20 градусов Цельсия.
                                                Озеро Ая образовалось в результате обвала скалы, перегородившей русло реки. Этот обвал
                                                произошёл около 10 тысяч лет назад. Сегодня озеро окружено живописными горами,
                                                покрытыми смешанным лесом. На берегах водоёма расположены базы отдыха, кемпинги,
                                                детские лагеря и другие объекты туристической инфраструктуры.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="map sleder-img">
                                        <img src="../static/img/slider_descriprion/aia.jpg"
                                             alt=""
                                             class="img-slider">
                                    </div>
                                </div>
                            </div>
                            <div class="slides slide2">
                                <div class="conteiner--3--list slider-list">
                                    <div class="conteiner--3--list__item">
                                        <div class="conteiner--3--list__item__text">
                                            <span class="conteiner--3--list__item__title">
                                                Курорт Манжерок
                                            </span>
                                            <span class="conteiner--3--list__item__defolt-text slider-text">
                                                Манжерок —  круглогодичный курорт, расположенный у подножия горы Малая Синюха
                                                в Республике Алтай. На его территории находятся четыре гостиницы, комплекс апартаментов и 3
                                                0 коттеджей, рассчитанных на одновременное размещение более 800 человек. Здесь же расположены
                                                рестораны, кафе, бани, спортивные площадки, собственный пляж на берегу озера и даже горнолыжный
                                                склон с двумя бугельными подъёмниками.
                                                Особой популярностью у отдыхающих пользуется озеро Манжерокское, где можно увидеть
                                                уникальное растение — чилим, или водяной орех. Ещё одна достопримечательность этих
                                                мест — Тавдинские пещеры, где археологи обнаружили предметы быта древних людей.
                                                Манжерок входит в особую экономическую зону туристско-рекреационного типа «Бирюзовая Катунь».
                                            </span>
                                        </div>
                                    </div>
                                    <div class="map sleder-img">
                                        <img src="../static/img/slider_descriprion/mangerok.jpg"
                                             alt=""
                                             class="img-slider">
                                    </div>
                                </div>
                            </div>
                            <div class="slides slide3">
                                <div class="conteiner--3--list slider-list">
                                    <div class="conteiner--3--list__item">
                                        <div class="conteiner--3--list__item__text">
                                            <span class="conteiner--3--list__item__title">
                                                Село Чемал
                                            </span>
                                            <span class="conteiner--3--list__item__defolt-text slider-text">
                                                Чемал — село в Республике Алтай, административный центр Чемальского района. Расположено в
                                                101 км от Горно-Алтайска, на левом берегу реки Катуни. В 1928 году в Чемале был образован
                                                первый в Сибири совхоз «Чуйский», выращивавший пшеницу и овощи.
                                                В 1991 году в Чемале был открыт храм Иоанна Богослова. Он построен из кедра без единого
                                                гвоздя. В 2001 году в селе открылся парк экстремальных развлечений «Адреналин». В
                                                2011 году в Чемале открылся Музей естественной истории Алтая.
                                                В окрестностях Чемала находятся остров Патмос, на котором расположен женский монастырь, и
                                                Чемальская ГЭС, построенная в 1935 году. В 2011 году она была выведена из эксплуатации и
                                                сейчас работает как музей.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="map sleder-img">
                                        <img src="../static/img/slider_descriprion/chemal.jpg"
                                             alt=""
                                             class="img-slider">
                                    </div>
                                </div>
                            </div>
                            <div class="slides slide4">
                                <div class="conteiner--3--list slider-list">
                                    <div class="conteiner--3--list__item">
                                        <div class="conteiner--3--list__item__text">
                                            <span class="conteiner--3--list__item__title">
                                                Игорная зона "Сибирская монета"
                                            </span>
                                            <span class="conteiner--3--list__item__defolt-text slider-text">
                                                «Сибирская монета» — одна из пяти официально установленных игорных зон в Российской Федерации.
                                                Она находится в Алтайском крае, вблизи села Ая. Площадь зоны составляет 2304,2 гектара.
                                                В игорной зоне представлены различные объекты инфраструктуры, такие как ресторан, бар, концертный зал, отель,
                                                спа-центр и другие удобства. Зона оборудована более чем 160 игровыми автоматами и 15 игровыми столами. Здесь
                                                регулярно проводятся турниры по покеру и другим карточным играм, а также предлагаются разнообразные развлекательные
                                                программы, включая выступления известных артистов, шоу-программы и тематические вечеринки.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="map sleder-img">
                                        <img src="../static/img/slider_descriprion/altai-palace.jpg"
                                             alt=""
                                             class="img-slider">
                                    </div>
                                </div>
                            </div>
                            <div class="slides slide5">
                                <div class="conteiner--3--list slider-list">
                                    <div class="conteiner--3--list__item">
                                        <div class="conteiner--3--list__item__text">
                                            <span class="conteiner--3--list__item__title">
                                                 ОЭЗ Бирюзовая катунь
                                            </span>
                                            <span class="conteiner--3--list__item__defolt-text slider-text">
                                                    ОЭЗ Бирюзовая Катунь - это место, где горы Алтая соединяются с кристально чистой рекой Катунь.
                                                    Это место поражает своей уникальной природной красотой, которая окутывает посетителей своим
                                                    спокойствием и загадочностью. Комплекс находится в уединенном уголке, где можно насладиться тишиной и
                                                    великолепием окружающей природы, а также отдохнуть от суеты городской жизни в комфортабельных номерах.
                                                    Данная территория активно осваивается и отстраиваются новые парк отели.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="map sleder-img">
                                        <img src="../static/img/slider_descriprion/beryzpvzia=katyn.jpg"
                                             alt=""
                                             class="img-slider">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="controls">
                            <label for="slide1"></label>
                            <label for="slide2"></label>
                            <label for="slide3"></label>
                            <label for="slide4"></label>
                            <label for="slide5"></label>
                        </div>
                    </div>

                </div>

                <div class="continer--3--button">
                    <button class="button_3" onclick="showAroundr()">окружение</button>
                    <button class="button_4" onclick="showDiscript()">описание</button>
                </div>
            </div>
        </div>


<!--Цитата-->
        <div class="conteiner" id="citata">
            <div class="conteiner__back-blok">
                <p class="Citata">
                    "Да, действительно сегодня в России появилась возможность строить комфортное жильё в предгорье и горах Алтая и жить в единении с природой, на своей земле!"
                </p>
                <p class="CitataAvtor">
                    ©️Альпийские имения 2.0
                </p>
            </div>
        </div>
        <!-- BLOCK 5 генплан-->
        <div class="conteiner" id="gen-plan">
            <div class="conteiner__back-blok">
                <div class="conteiner__back-blok__title">
                    <img class="img--line" src="../static/img/line.svg" alt="">
                    <div class="title" >генплан</div>
                </div>
                <div class="conteiner__panorama">
                    <div class="conteiner__panorama_title">
                        <p class="conteiner__block-top__title">
                            Концепция застройки</p>
                    </div>
                    <!--<p class="conteiner__block-top__main&#45;&#45;text gen-text">
                        Мы предлагаем готовую архитектурную концепцию застройки земельного участка </p>-->
                </div>
                <div class="conteiner__panorama--under">
                    <!--      слайдер           -->
                        <div class="swiper mySwiper" id="mySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img class="swiper_img_img test" src="../static/img/slider-gen/slider-aia-102.jpg" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img class="swiper_img_img test" src="../static/img/slider-gen/slider-aia-107.jpg" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img class="swiper_img_img test" src="../static/img/slider-gen/slider-aia-108.jpg" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img class="swiper_img_img test" src="../static/img/slider-gen/slider-aia-113.jpg" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img class="swiper_img_img test" src="../static/img/slider-gen/slider_2.jpg" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img class="swiper_img_img test" src="../static/img/slider-gen/slider_1.jpg" alt="">
                                </div>
                                <div class="swiper-slide" onclick="window.location = '/static/СПОЗУ_438.pdf'">
                                    <div class="swiper_img_img button-download">
                                        <img class="button-download__svg"
                                             src="../static/img/Download_img/arrou.svg">
                                        <span class="button-download__text">
                                            скачать
                                        </span>
                                        <span class="button-download__text">
                                            концепцию
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-button-next new_swiper_next" id="New_swiper_next1">
                                  <img class="arrou_swiper1" src="../static/img/right_icon-icons.com_61212.svg" alt="">
                            </div>
                            <div class="swiper-button-prev new_swiper_prev" id="New_swiper_prev1">
                                   <img class="arrou_swiper2" src="../static/img/left_icon-icons.com_61213.svg" alt="">
                            </div>
                        </div>
                </div>
                <p class="text__po_zaprosy">
                    стоимость по запросу </p>
            </div>
        </div>

        <!-- BLOCK 6   Текстовый -->
<!--        <div class="conteiner&#45;&#45;5">
            <span class="conteiner&#45;&#45;5&#45;&#45;text textovii-text">
                 Сегодня предлагается к продаже земельный участок (фотообозрение представлено выше), расположенный в районе природного парка краевого значения «Ая», площадь з/участка 44 000 м2 (4.4 Га). В рамках подготовки к его реализации разработана архитектурная концепция освоения с учётом статьи 19 ФЗ «О крестьянском (фермерском) хозяйстве». Концепция исполнена с использованием материалов геообследования з/участка, учтены его индивидуальные особенности и свойства.
               <br> <br>Также мы готовы подобрать для Вас иной земельный участок на территории Алтайского края и Республики Алтай с другими параметрами и стоимостью.
            </span>
            <div class="citata_logo">
                <img class="header&#45;&#45;conteiner&#45;&#45;title textovii-img" src="../static/img/logo.svg">
            </div>
        </div>-->
        <div class="conteiner" id="textovii">
            <div class="conteiner__back-blok contein-5">
<!--                <div class="conteiner__back-blok__title">
                    <img class="img&#45;&#45;line" src="../static/img/line.svg" alt="">
                    <div class="title" >Торговое предложение</div>
                </div>-->
                <span class="conteiner--5--text textovii-text">
                    Сегодня предлагается к продаже земельный участок (фотообозрение представлено выше), расположенный в районе природного парка краевого значения «Ая», площадь з/участка 44 000 м2 (4.4 Га). В рамках подготовки к его реализации разработана архитектурная концепция освоения с учётом статьи 19 ФЗ «О крестьянском (фермерском) хозяйстве». Концепция исполнена с использованием материалов геообследования з/участка, учтены его индивидуальные особенности и свойства.
                    <br><br>
                </span>
                <span class="conteiner--5--text textovii-text">
                    Стоимость и иная информация о земельном участке по запросу
                    <br><br>
                </span>
                <span class="conteiner--5--text textovii-text">
                    P.S. Также мы имеем возможноть (готовы) подобрать для Вас иной земельный участок на территории Алтайского края и Республики Алтай с другими параметрами и стоимостью
                </span>
                <div class="citata_logo">
                    <img class="header--conteiner--title textovii-img" src="../static/img/logo.svg">
                    <div class="header--conteiner--title imeem">Имеем то, что имеем...</div>
                </div>
            </div>
        </div>

        <!-- BLOCK 7   форма -->
        <div class="container--6" id="contackt">
            <div class="container--6--form">
                <div class="container--6--form__margin">
                    <span class="container--6--form__title">остались вопросы? <br></span>
                    <span class="container--6--form__under--title">
                        Заполните форму и мы свяжемся с Вами<br>
                        в ближайшее время.
                    </span>
                    <div class="container--6--form__input--box">
                        <span class="container--6--form__input--box text">Ваше имя</span>
                        <input class="container--6--form__input--box input"
                               type="text"
                               placeholder="Как к Вам обращаться?">
                    </div>
                    <div class="container--6--form__input--box">
                        <span class="container--6--form__input--box text">Номер телефона</span>
                        <input class="container--6--form__input--box input tel" id="tel" name="tel"
                               type="tel"
                               placeholder="Ваш номер телефона?">
                    </div>
                    <div class="container--6--form__input--box">
                        <span class="container--6--form__input--box text">Почта</span>
                        <input class="container--6--form__input--box input"
                               type="email"
                               placeholder="Ваша почта?">
                    </div>

                    <div class="container--6--form__input--box">
                        <span class="container--6--form__input--box text">Ваш комментарий</span>
                        <textarea class="container--6--form__input--box input comment"
                               cols="40"
                               rows="3"
                               placeholder="Я бы хотел"></textarea>
                    </div>
                    <div class="container--6--form__button--block">
                        <button class="container--6--form__button">
                                отправить
                        </button>
                    </div>
                    <p class="container--6--form__acept">
                        Нажимая на кнопку, вы даёте согласие
                        на <u>обработку персональных данных</u> </p>
                </div>
            </div>
<!--            <span class="politika-conf">
                    политика конфиденциальности
                </span>-->
        </div>
    </main>

        <!-- Footer        -->
    <footer class="footer">
            <div class="footer--left__block footer-lef">
                <div class="footer--img--block">
                    <img src="../static/img/telegramm.svg" alt="" class="footer--img" onclick="window.location = 'https://t.me/alpineestates'" style="cursor: pointer">
                    <img src="../static/img/wasap.svg" alt="" class="footer--img" onclick="window.location = 'https://wa.me/79230023008'" style="cursor: pointer;">
                </div>
                <div class="footer--number footer_number">
                    <p class="footer--number--tel" onclick="window.location = 'tel:+79230023008'" style="cursor: pointer">+7-(923)-002-3-008</p>
                </div>
            </div>
            <div class="footer--right__block">
                <p class="footer--alpine__imenie">
                    © 2024 Альпийские имения 2.0<br>
                    Политика конфиденциальности
                </p>
            </div>
    </footer>
        <!-- PopUp        -->
    <div class="PopupForm">
        <div class="PopupForm__back-ground">
            <div class="PopupForm--block">
                <div class="PopupForm--block__left">
                    <div class="talk">
                        <p class="talk__title">готовы обсудить детали?</p>
                        <p class="talk__text">
                            Заполните форму и мы свяжемся с Вами<br>
                            в ближайшее время.</p>
                        <div class="footer--left__block">
                            <div class="footer--img--block">
                                <img src="../static/img/telegramm.svg" alt="" class="pop-up" onclick="window.location = 'https://t.me/alpineestates'" style="cursor: pointer">
                                <img src="../static/img/wasap.svg" alt="" class="pop-up" onclick="window.location = 'https://wa.me/79230023008'" style="cursor: pointer;">
                            </div>
                            <div class="footer--number">
                                <p class="footer--number--tel" onclick="window.location = 'tel:+79230023008'" style="cursor: pointer">+7-(923)-002-3-008</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="PopupForm--block__right">
                    <div class="container--6--form">
                        <div class="container--6--form__margin">
                            <div class="container--6--form__input--box">
                                <span class="container--6--form__input--box text">Ваше имя</span>
                                <input class="container--6--form__input--box input"
                                       type="text"
                                       placeholder="Как к Вам обращаться?">
                            </div>
                            <div class="container--6--form__input--box">
                                <span class="container--6--form__input--box text">Номер телефона</span>
                                <input class="container--6--form__input--box input tel" id="tell" name="tel"
                                       type="tel"
                                       placeholder="Ваш номер телефона?">
                            </div>
                            <div class="container--6--form__input--box">
                                <span class="container--6--form__input--box text">Почта</span>
                                <input class="container--6--form__input--box input"
                                       type="email"
                                       placeholder="Ваша почта?">
                            </div>

                            <div class="container--6--form__input--box">
                                <span class="container--6--form__input--box text">Ваш комментарий</span>
                                <textarea class="container--6--form__input--box input comment"  cols="40" rows="3" placeholder="Я бы хотел"></textarea>
                            </div>
                            <div class="container--6--form__button--block">
                                <button class="container--6--form__button">
                                    отправить
                                </button>
                            </div>
                        </div>
                    </div>
                    <p class="container--6--form__acept">
                        Нажимая на кнопку, вы даёте согласие
                        на <u>обработку персональных данных</u></p>
                </div>
            </div>
            <div  class="popup--Video__close" onclick="closePopupForm()">
                <img src="../static/img/X.svg" alt="">
            </div>
        </div>
    </div>
    <!-- Общий план        -->
    <div class="FullForm">
        <img class="FullForm--img" src="../static/img/F2.png" alt="">
        <div  class="popup--Video__close" onclick="CloseFullForm()">
            <img src="../static/img/X.svg" alt="">
        </div>
    </div>
    <!-- Humberger menu -->
    <div class="hamberger__menu">
        <ul class="menu__box">
            <li><a class="menu__item" href="#about_project" onclick="close__humberger()">о проекте</a></li>
            <li><a class="menu__item" href="#panorama" onclick="close__humberger()">панорама</a></li>
            <li><a class="menu__item" href="#position" onclick="close__humberger()">расположение</a></li>
            <li><a class="menu__item" href="#gen-plan" onclick="close__humberger()">генплан</a></li>
            <li><a class="menu__item" href="#contackt" onclick="close__humberger()">контакты</a></li>
            <img class="close__hambirger" src="../static/img/X.svg" onclick="close__humberger()" alt="">
        </ul>
    </div>
    <script src="../static/js/swiper-bundle.js"></script>
    <script src="../static/js/main.js"></script>
</body>
</html>
<!--51.899675, 85.662520 яндекс координаты-->