<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/zero.css" type="text/CSS">
    <link rel="stylesheet" href="../static/css/Style-SCSS.css" type="text/CSS">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <headr class="header--conteiner">
        <img class="header--conteiner--title"
             src="../static/img/logo.svg"
             alt="логотип сайта Альпийские имения 2.0">
        <div class="header--conteiner--title__under">Имеем то, что имеем...</div>
        <div class="header--conteiner__arrou__botom">
            <div class="header--conteiner__arrou__botom__text">подробности</div>
            <img src="../static/img/arrou.svg" alt="Стрелка которая направлена вниз">
            <div class="header--conteiner__arrou__botom__text">ниже</div>
        </div>
    </headr>
    <main class="main--blok">
        <div class="main--blok__conteiner-1">
            <div class="main--blok__conteiner-1__background--form">
                <div class="main--blok__conteiner-1__title">
                    <div class="main--blok__conteiner-1__title-conteiner">
                        <img class="main--blok__conteiner-1__title--lines"
                             src="../static/img/line.svg">
                        <span class="main--blok__conteiner-1__title--name">
                            о проекте
                        </span>
                    </div>
                    <div class="main--blok__conteiner-1__title--description">
                        загородная жизнь<br>
                        с альпийской культурой
                    </div>
                    <div class="main--blok__conteiner-1__description">
                        Альпийские имения 2.0 — роскошный загородный
                        земельный участок площадью 4,4 гектара, который
                        расположился в самом сердце курортной зоны Алтая,
                        всего в трёх километрах от живописного озера Ая.
                        По соседству с участком находятся знаменитые курорты
                        «Манжерок» и Чемал, а также не менее известный
                        курортно-игорный дом «Altai Palace». В дополнение ко всему
                        по близости находится гора “Чёртов палец”, с которой
                        открывается вид на все красоты Алтая, включая в себя
                        бурную горную реку Кануть. У которой вода переливается
                        из прозрачного в берюзовый цвет.
                    </div>
                </div>
                <video class="main--blok__conteiner-1__video"controls="controls">
                    <source src="" type='video/ogg; codecs="theora, vorbis"'>
                    <source src="../static/img/Test-video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                    <source src="" type='video/webm; codecs="vp8, vorbis"'>
                    Ваш браузер не поддерживает встроенные видео :(
                </video>
            </div>
        </div>
    </main>
</body>
</html>